venv/*
*.png
Data/Diversions/**/*.csv
Outputs/**/*.csv
Outputs/**/*.DMI
Outputs/**/*.png
Outputs/**/*.txt
Outputs/**/*.bak
Outputs/**/*.html
Outputs/Comparison/*
Scripts/Compare.py
Data/Climate/**/*.csv